<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.2.1" targetFramework="net471" />
  <package id="MathNet.Numerics" version="4.6.0" targetFramework="net462" />
  <package id="Microsoft.ML" version="0.7.0" targetFramework="net462" />
  <package id="Microsoft.ML.CpuMath" version="0.7.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Serilog" version="2.7.1" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="ThermoFisher.CommonCore.RawFileReader" version="4.0.26" targetFramework="net471" />
</packages>